<div class="ui four doubling link cards">
    <div class="new product card">
        <div class="heading content">
            <span class="name">New Product</span>
        </div>
        <div class="ui fluid image">
            <img class="promo" src="https://via.placeholder.com/697x929?text=%2B" alt="New Product">
        </div>
        <div class="content">
        </div>
        <div class="extra content"></div>
    </div>

    {{#each products}}
        <div class="product card" data-product-id="{{id}}">
            <div class="heading content">
                <img class="ui avatar image" src="https://semantic-ui.com/images/avatar2/small/molly.png" alt="Bethany">
                <span class="name">{{ name }}</span>
                <i class="right floated trash alternate outline icon"></i>
            </div>
            <div class="ui fluid image">
                <img class="promo" src="{{ image }}" alt="{{ name }}">
            </div>
            <div class="content">
                <span class="ui teal ribbon label price">
                    ${{ price }}
                </span>
                <span class="name">{{ name }}</span>
                <div class="description">
                    {{ description }}
                </div>
            </div>
            <div class="extra content">
                {{#each labels}}
                    <span class="ui category label">{{ label }}</span>
                {{/each}}
            </div>
        </div>
    {{/each}}
</div>

<div class="ui modal">
    <i class="close icon"></i>
    <div class="header">
        New Product
    </div>
    <div class="scrolling content">
        <div class="ui equal width form">
            <div class="field">
                <img id="image-input" class="ui small image" src="https://via.placeholder.com/300x300?text=%2B" alt="Upload">
                <label for="image-input">Upload image</label>
                <input id="image-input" type="file" accept="image/jpeg">
            </div>
            <div class="fields">
                <div class="field">
                    <label for="name-input">Product Name</label>
                    <input id="name-input" name="name" type="text">
                </div>
                <div class="field">
                    <label for="labels-input">Labels</label>
                    <select name="labels" multiple id="labels-input">
                        {{#each categories}}
                            <option value="categories/{{id}}">{{ label }}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="ui field">
                    <label>Price</label>
                    <div class="ui labeled input">
                        <label for="price-input" class="ui label">$</label>
                        <input id="price-input" type="number" name="price" placeholder="Price">
                    </div>
                </div>
            </div>
            <div class="field">
                <label for="description-input">Description</label>
                <textarea id="description-input" name="description" rows="4"></textarea>
            </div>
        </div>
    </div>

    <div class="actions">
        <div class="ui buttons">
            <button class="ui cancel button">Cancel</button>
            <div class="or"></div>
            <button class="ui positive approve button">Submit</button>
        </div>
    </div>
</div>
