<div class="ui four doubling link cards">
    <div class="new product card">
        <div class="ui fluid image">
            <img src="https://via.placeholder.com/697x929?text=%2B" alt="New Product">
        </div>
        <div class="content">
            <p class="header">New Product</p>
        </div>
    </div>

    {{#each products}}
        <div class="product card">
            <div class="ui fluid image">
                <img src="{{ image }}" alt="{{ name }}">
            </div>
            <div class="content">
                <span class="name">{{ name }}</span>
                <span class="category meta">{{ category.label }}</span>
                <p class="price">
                    {{ price }}
                </p>
                <div class="description">
                </div>
            </div>
        </div>
    {{/each}}
</div>

<div class="ui small modal">
    <i class="close icon"></i>
    <div class="header">
        New Product
    </div>
    <div class="scrolling content">
        <div class="ui equal width form">
            <div class="field">
                <img id="image-input" class="ui small image" src="https://via.placeholder.com/300x300?text=%2B" alt="Upload">
                <label for="image-input">Upload image</label>
                <input id="image-input" type="file" accept="image/jpeg">
            </div>
            <div class="fields">
                <div class="field">
                    <label for="name-input">Product Name</label>
                    <input id="name-input" name="name" type="text">
                </div>
                <div class="field">
                    <label for="category-input">Category</label>
                    <div class="ui category selection dropdown">
                        <input type="hidden" name="category">
                        <i class="dropdown icon"></i>
                        <div class="default text">Category</div>
                        <div class="menu">
                            <!--TODO: Load categories dynamically-->
                            <div class="item" data-value="categories/embroidery">Embroidery</div>
                            <div class="item" data-value="categories/knit">Knitting</div>
                        </div>
                    </div>
                </div>
                <div class="ui field">
                    <label>Price</label>
                    <div class="ui labeled input">
                        <label for="price-input" class="ui label">$</label>
                        <input id="price-input" type="number" name="price" placeholder="Price">
                    </div>
                </div>
            </div>
            <div class="field">
                <label for="description-input">Description</label>
                <textarea id="description-input" name="description" rows="4"></textarea>
            </div>
        </div>
    </div>

    <div class="actions">
        <div class="ui buttons">
            <button class="ui cancel button">Cancel</button>
            <div class="or"></div>
            <button class="ui positive approve button">Submit</button>
        </div>
    </div>
</div>
